# Auth0 Configuration
PUBLIC_AUTH0_DOMAIN="fulcra-dev.us.auth0.com"
PUBLIC_AUTH0_CLIENT_ID="jzBJOqOY6k8da0v4wOt7WLtlGlJOfhxW"

# Fulcra API Endpoint (public for Auth0 audience)
PUBLIC_FULCRA_API_ENDPOINT="http://localhost:8008/"

# Fulcra API Endpoint (private for server-side API calls)
FULCRA_API_ENDPOINT="http://localhost:8008"
# For remote dev API, use:
# FULCRA_API_ENDPOINT="https://api.devfulcra.com"
